:root {
    font-family: Vollkorn, Arial, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

#main {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#left {
    position: relative;
    display: flex;
    width: 40vw;
}

#background-image {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}

#logo-container {
    position: absolute;
    padding: 20px 20px;
    display: flex;
    width: 100%;
    top: 40vh;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    background-color: gray;
    opacity: 0.82;
    z-index: 2;
}

#logo-container p {
    color: white;
    font-size: 4rem;
    margin: 0px 20px 0px 0px;
}

#odin-logo {
    max-height: 20vh;
    max-width: 20vh;
}

#right {
    display: flex;
    flex: 1;
    flex-direction: column;
    z-index: 3;
    width: 60vw;
}

#text-container {
    display: block;
    font-size: 1.5rem;
    padding: 20px 20px;
    margin-top: 10vh;
}

#text-container p {
    margin-bottom: 25px;
    text-align: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px;
    box-shadow: 5px 5px 5px gray;
    background-color: lightgray;
    min-height: 200px;
}

.form-item {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 20px 20px;
}

label {
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
}

#account-container {
    display: block;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    margin-bottom: 10vh;
}

