:root {
    font-family: Vollkorn, Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

#main {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#background-image {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    z-index: 1;
}

#left {
    position: relative;
    display: flex;
    width: 40vw;
}

#logo-container {
    position: absolute;
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    max-height: 75%;
    width: 100%;
    top: 5vh;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    background-color: gray;
    opacity: 0.82;
    z-index: 2;
}

#odin-logo {
    max-height: 20vh;
    max-width: 20vh;
}

#logo-container p {
    color: white;
    font-size: 4rem;
    margin-right: 20px;
}

#right {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

#description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
}

#form-container {
    height: 35vh;
    padding: 20px 20px;
    box-shadow: 5px 5px 5px gray;
    background-color: lightgray;
}

#account-container {
    display: flex;
    align-items: center;
    height: 25vh;
}

